.BestRatedBooks h2 {
    font-family: "Fredoka One", cursive;
    font-size: 36px;
    color: #5B2D8E;
    margin-bottom: 2em;
}

.List {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
