.Form {
    background-color: #EDE0FF;
    width: 30%;
    margin: auto;
    padding: 50px;
    align-items: center;
    margin-block: 50px;
    border-radius: 12px;
}
.Form, .Form label {
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #1A0A3C;
}

.Form input[type="file"] {
    display: none;
}

.Form img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    object-position: center;
}
.Form label {
    width: 100%;
}
.Form label p {
    margin-bottom: 15px;
}

.Form input {
    height: 64px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    border: 2px solid #5B2D8E;
    border-radius: 6px;
    padding-inline: 12px;
    font-family: 'Nunito', sans-serif;
}

.Form input:focus {
    outline: none;
    border-color: #FFD700;
}

.Stars, .Stars label {
    display: flex;
    flex: 1;
    margin-bottom: 22px;
    width: 50%;
    align-items: center;
}

.Stars input {
    position: absolute;
    left: -10000px;
}

.AddImage {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 43px 81px;
    border: dashed 2px #5B2D8E;
    margin-bottom: 40px;
    border-radius: 8px;
}

.AddImage img {
    margin-right: 20px;
}

.AddImage p {
    color: #5B2D8E;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

@media all and (max-width: 1300px) {
    .Form {
        width: 70%;
    }
}

@media all and (max-width: 768px) {
    .Form {
        width: 85%;
        padding: 36px;
    }

    .AddImage {
        padding: 28px 40px;
    }
}

@media all and (max-width: 600px) {
    .Form {
        width: 95%;
        padding: 24px 20px;
    }

    .AddImage {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .AddImage img {
        margin-right: 0;
        margin-bottom: 12px;
    }
}
